<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Functional" verbose="1">

	<!-- DEFAULT RUNTIME CONFIG -->
	<parameter name="url"
		value="http://10.6.183.64:3010/mentoring-portal/"></parameter> <!-- site url -->
	<parameter name="group" value="FULL"></parameter>
	<parameter name="browserType" value="CHROME"></parameter>

	<test name="Smoke">
		<packages>
			<package name="automation.core.test.*" />
		</packages>
	</test>

</suite>
